<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : PlainDisplay 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140309

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>FM 11.2</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	
	<!-- <link href="bootstrap.css" rel="stylesheet" type="text/css" media="all" -->
	<link rel="stylesheet" type="text/css"  href={{ url_for('static', filename='stylesheet/bootstrap.css') }}>
	<!-- <link href="bootstrap.css" rel="stylesheet" type="text/css" media="all" -->
	<link rel="stylesheet" type="text/css"  href={{ url_for('static', filename='stylesheet/style.css') }}>
	<!-- <link href="default.css" rel="stylesheet" type="text/css" media="all" />
	<link href="fonts.css" rel="stylesheet" type="text/css" media="all" /> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/default.css') }}" media="all">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/fonts.css') }}" media="all">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
	<style>
		img {
			width: 80px;
			height: 80px;
		}
		h2 {
			margin-bottom: 5px;
		}
	</style>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="{{ url_for('.mainPage') }}">FM 11.2</a></h1>
		</div>
		<div id="menu">	
			<ul>
				<li class="current_page_item"><a href="{{ url_for('.mainPage') }}" accesskey="1" title="">Homepage</a></li>
				{% if data['isLogin'] %}
				<li><a href="{{ url_for('.personalStatus') }}" accesskey="2" title="">Personnel Status</a></li>
				{% else %}
				<li><a href="{{ url_for('.register', fromUrl='mainPage') }}" accesskey="2" title="">Sign up</a></li>
				{% endif %}
				{% if data['isLogin'] %}
				<li><a href="{{ url_for('.history') }}" accesskey="3" title="">Investment History</a></li>
				{% endif %}
				<li><a href="#about-us" accesskey="4" title="">About Us</a></li>
				{% if data['isLogin'] %}
				<li><a href="{{ url_for('.logout', fromUrl='mainPage') }}" accesskey="5" title="">Sign out</a></li>
				{% else %}
				<li><a href="{{ url_for('.login', fromUrl='mainPage') }}" accesskey="5" title="">Sign in</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	</div>
	
	<div id="extra" class="container" style="border-style: solid; width: 100%;">
		<div class="title">
			<h2>FINANCIAL CONSULTANT MATCHING LIST</h2>
			<span class="byline">Just connect the consultant immediately</span> </div>
		<div class="container">    
		    <div class="list-group">
		    {% for key, expert in experts.iteritems() %}
		    	<div class='list-group-item'>
		        	<div class="form-inline row">
		        		<div class="col-md-3">
		        			<img src="{{ url_for('static', filename=expert['profile_path']) }}" class="img-responsive center-block"  alt="...">
		        			<center> name : {{ expert['name'] }} </center>
		        			<center> mobile : {{ expert['cellphone'] }} </center>
		        		</div>
		        		<div class="col-md-9">
		        			<h2>Success Experience</h2>
		        			<h3>1. {{ expert['top5'][0]['基金名稱'] }}</h3>
		          			<h3>2. {{ expert['top5'][1]['基金名稱'] }}</h3>
		          			<h3>3. {{ expert['top5'][2]['基金名稱'] }}</h3>
		        		</div>
		          		
		          		<!-- <button type="submit" class="btn btn-primary">Submit</button> -->
		        	</div>
		      	</div>
		    {% endfor %}
		    </div>
		</div>
	</div>
</div>

<div id="copyright" class="container">
	<p>&copy; ND. All rights reserved.</p>
</div>
</body>
</html>
