<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : PlainDisplay 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140309

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>FM 11.2</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />

	
	<!-- <link href="bootstrap.css" rel="stylesheet" type="text/css" media="all" -->
	<link rel="stylesheet" type="text/css"  href={{ url_for('static', filename='stylesheet/bootstrap.css') }}>
	<!-- <link href="bootstrap.css" rel="stylesheet" type="text/css" media="all" -->
	<link rel="stylesheet" type="text/css"  href={{ url_for('static', filename='stylesheet/style.css') }}>


	<!-- <link href="default.css" rel="stylesheet" type="text/css" media="all" />
	<link href="fonts.css" rel="stylesheet" type="text/css" media="all" /> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/default.css') }}" media="all">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/fonts.css') }}" media="all">
	
	<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="{{ url_for('.mainPage') }}">FM 11.2</a></h1>
		</div>
		<div id="menu">	
			<ul>
				<li class="current_page_item"><a href="{{ url_for('.mainPage') }}" accesskey="1" title="">Homepage</a></li>
				{% if data['isLogin'] %}
				<li><a href="{{ url_for('.personalStatus') }}" accesskey="2" title="">Personal Status</a></li>
				{% else %}
				<li><a href="{{ url_for('.register', fromUrl='mainPage') }}" accesskey="2" title="">Sign up</a></li>
				{% endif %}
				<li><a href="#" accesskey="3" title="">Investment History</a></li>
				<li><a href="#about-us" accesskey="4" title="">About Us</a></li>
				{% if data['isLogin'] %}
				<li><a href="{{ url_for('.logout', fromUrl='mainPage') }}" accesskey="5" title="">Sign out</a></li>
				{% else %}
				<li><a href="{{ url_for('.login', fromUrl='mainPage') }}" accesskey="5" title="">Sign in</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	</div>
	
	<div id="extra" class="container">
		<div class="title">
			<h2>be ahead of the pack</h2>
			<span class="byline">FM 11.2, being your best partner, always makes wisely tactical investment </span> </div>
			<!-- Services Section -->
			<div id="services">
	        <div class="container text-center">
	            <div class="row">
	                <div class="col-md-4 col-sm-4">
	                    <div class="service" onclick="window.location='{{ url_for('.hotIssue', data=data) }}';">
	                    	<img src="{{ url_for('static', filename='icon/01.png') }}" style="width:5em; height:5em;" class="img-responsive center-block"  alt="...">
	                        <h4>THE HOTTEST FINANCIAL ISSUE</h4>
	                        <p>Provide the hottest issue of finance, which let you never lose an opportunity of investment.</p>
	                    </div>
	                </div>

	                <div class="col-md-4 col-sm-4">
	                    <div class="service" onclick="window.location='{{ url_for('.productRank') }}';">
	                    	<img src="{{ url_for('static', filename='icon/02.png') }}" style="width:5em; height:5em;" class="img-responsive center-block"  alt="...">
	                        <h4>FINANCIAL PRODUCT RECOMMENDATION SYSTEM</h4>
	                        <p>Wanna find some suitable financial product within few seconds?<br>Just click it!</p>
	                    </div>
	                </div>

	                <div class="col-md-4 col-sm-4">
	                    <div class="service" onclick="window.location='{{ url_for('.expertRank') }}';">
	                    	<img src="{{ url_for('static', filename='icon/03.png') }}" style="width:5em; height:5em;" class="img-responsive center-block"  alt="...">
	                        <h4>FINANCIAL CONSULTANT MATCHING SYSTEM</h4>
	                        <p>Save your time spending on wondering, and give you the most professional advice on investmet.</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div id="featured">
		<div class="container">
			<div class="title">
				<h2>Oral navigator</h2>
				<span class="byline">Click and tell us what you need</span>
			</div>
		</div>
		<ul class="actions">
			<li><a id="Oral_sys_btn" class="button">Start record</a></li>
		</ul>
	</div>

	<!-- About Us Section -->
	<div id="about-us">
	    <div class="container">
	    	<dir class="row">
	            <div class="text-center">
	                <div class="col-md-8 col-md-offset-2">
	                    <div class="section-title">
	                        <h2>About Us</h2>
	                        <hr>
	                    </div>
	                    <p>A team is consist of 5 NTU CSIE students.</p>
	                </div>
	            </div>
	        </dir>
	        <div class="space"></div>
	        <div class="container-fluid">
	        	<div class="row text-center">
	                <div class="col-md-2 col-sm-2">
	                    <div class="team">
	                        <img src="{{ url_for('static', filename='team/01.jpg') }}" class="img-responsive img-circle" alt="...">
	                        <br>
	                        <h4>Kevin<br>Wei</h4>
	                        <p class="small">Data<br>scientist</p>
	                        <hr>
	                    </div>
	                </div>
	                <div class="col-md-2 col-sm-2">
	                    <div class="team">
	                        <img src="{{ url_for('static', filename='team/02.jpg') }}" class="img-responsive img-circle" alt="...">
	                        <br>
	                        <h4>Frank<br>Lin</h4>
	                        <p class="small">Software Developer</p>
	                        <hr>
	                    </div>
	                </div>
	                <div class="col-md-2 col-sm-2">
	                    <div class="team">
	                        <img src="{{ url_for('static', filename='team/03.jpg') }}" class="img-responsive img-circle" alt="...">
	                        <br>
	                        <h4>Bob<br>Lang</h4>
	                        <p class="small">Software Developer</p>
	                        <hr>
	                    </div>
	                </div>
	                <div class="col-md-2 col-sm-2">
	                    <div class="team">
	                        <img src="{{ url_for('static', filename='team/04.jpg') }}" class="img-responsive img-circle" alt="...">
	                        <br>
	                        <h4>Leo Chang</h4>
	                        <p class="small">Web<br>Designer</p>
	                        <hr>
	                    </div>
	                </div>
	                <div class="col-md-2 col-sm-2">
	                    <div class="team">
	                        <img src="{{ url_for('static', filename='team/05.jpg') }}" class="img-responsive img-circle" alt="...">
	                        <br>
	                        <h4>Jerry Chou</h4>
	                        <p class="small">Data<br>scientist</p>
	                        <hr>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="text-center">
	            <a href="#contact" class="page-scroll down-btn">
	                <span class="fa fa-angle-down"></span>
	            </a>
	        </div>
	    </div>
	</div>
</div>

<!-- The SDK has a dependency on requirejs (http://requirejs.org/). -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
<!-- SDK REFERENCE -->
<script src="{{ url_for('static', filename='js/speech.browser.sdk.js') }}"></script>

<!-- SDK USAGE -->
<script>
	// On doument load resolve the SDK dependecy
	function Initialize(onComplete) {
		require(["Speech.Browser.Sdk"], function(SDK) {
		    onComplete(SDK);
		});
	}
		        
	// Setup the recongizer
	function RecognizerSetup(SDK, recognitionMode, language, format, subscriptionKey) {
		let recognizerConfig = new SDK.RecognizerConfig(
		    new SDK.SpeechConfig(
		        new SDK.Context(
		            new SDK.OS(navigator.userAgent, "Browser", null),
		            new SDK.Device("SpeechSample", "SpeechSample", "1.0.00000"))),
		    recognitionMode, // SDK.RecognitionMode.Interactive  (Options - Interactive/Conversation/Dictation>)
		    language, // Supported laguages are specific to each recognition mode. Refer to docs.
		    format); // SDK.SpeechResultFormat.Simple (Options - Simple/Detailed)

		// Alternatively use SDK.CognitiveTokenAuthentication(fetchCallback, fetchOnExpiryCallback) for token auth
		let authentication = new SDK.CognitiveSubscriptionKeyAuthentication(subscriptionKey);

		return SDK.CreateRecognizer(recognizerConfig, authentication);
	}

	// Start the recognition
	function RecognizerStart(SDK, recognizer) {
		recognizer.Recognize((event) => {
		    /*
		     Alternative syntax for typescript devs.
		     if (event instanceof SDK.RecognitionTriggeredEvent)
		    */
		    switch (event.Name) {
		        case "RecognitionTriggeredEvent" :
	                console.log('Initializing');
		            break;
		        case "ListeningStartedEvent" :
		            console.log('Listening');
		            break;
		        case "RecognitionStartedEvent" :
		            console.log('Listening_Recognizing');
		            break;
		        case "SpeechStartDetectedEvent" :
		            console.log('Listening_DetectedSpeech_Recognizing');
		            console.log(JSON.stringify(event.Result)); // check console for other information in result
		            break;
                case "SpeechHypothesisEvent" :
                    UpdateInputValue(event.Result.Text);
                    console.log(JSON.stringify(event.Result)); // check console for other information in result
                    break;
                case "SpeechEndDetectedEvent" :
                    // OnSpeechEndDetected();
                    console.log('Processing_Adding_Final_Touches');
                    console.log(JSON.stringify(event.Result)); // check console for other information in result
                    break;
                case "SpeechSimplePhraseEvent" :
                    break;
                case "SpeechDetailedPhraseEvent" :
                    break;
                case "RecognitionEndedEvent" :
                    OnComplete();
                    console.log('Idle');
                    console.log(JSON.stringify(event)); // Debug information
                    break;
            }
        })
        .On(() => {
            // The request succeeded. Nothing to do here.
        },
        (error) => {
            console.error(error);
        });
    }

    // Stop the Recognition.
    function RecognizerStop(SDK, recognizer) {
        // recognizer.AudioSource.Detach(audioNodeId) can be also used here. (audioNodeId is part of ListeningStartedEvent)
        recognizer.AudioSource.TurnOff();
    }
</script>

<!-- Browser Hooks -->
<script>
    let recordBtn;
    let firstNameBtn, lastNameBtn, emailBtn, accountIdBtn, countryBtn, phoneNumBtn;
    let click_btn_name;
    let key, languageOptions, formatOptions;
    let SDK;
    let recognizer;
    let previousSubscriptionKey;

    document.addEventListener("DOMContentLoaded", function () {
        key = '63070e40686842699849c4154247acaf';
        languageOptions = 'zh-CN';
        formatOptions = 'Simple';

        recordBtn = document.getElementById("Oral_sys_btn");


    	recordBtn.addEventListener("click", function () {
            if (!recognizer || previousSubscriptionKey != key) {
                previousSubscriptionKey = key;
                Setup();
            }
            click_btn_name = 'recordBtn';
            RecognizerStart(SDK, recognizer);
            recordBtn.disabled = true;
        });

        Initialize(function (speechSdk) {
            SDK = speechSdk;
            // startBtn.disabled = false;
            recordBtn.disabled = false;
        });
    });

    function Setup() {
        recognizer = RecognizerSetup(SDK, SDK.RecognitionMode.Interactive, languageOptions, SDK.SpeechResultFormat[formatOptions], key);
    }
    function UpdateInputValue(text){
    	if(click_btn_name == 'recordBtn'){
			// firstNameInput.value = text;
			console.log(text);
			if ((text.indexOf('登入') !== -1) || (text.indexOf('登录') !== -1))
				window.location = "{{ url_for('.login') }}";
			else if ((text.indexOf('註冊') !== -1) || (text.indexOf('注册') !== -1))
				window.location = "{{ url_for('.register') }}";
			else if ((text.indexOf('登出') !== -1))
				window.location = "{{ url_for('.logout') }}";
			else if ((text.indexOf('個人資訊') !== -1) || (text.indexOf('个人资讯') !== -1) || (text.indexOf('個人') !== -1) || (text.indexOf('个人') !== -1))
				window.location = "{{ url_for('.personalStatus') }}";
			else if ((text.indexOf('紀錄') !== -1) || (text.indexOf('記錄') !== -1) || (text.indexOf('歷史') !== -1) || (text.indexOf('历史') !== -1) || (text.indexOf('以前') !== -1))
				window.location = "{{ url_for('.history') }}";
			else if ((text.indexOf('新聞') !== -1) || (text.indexOf('訊息') !== -1) || (text.indexOf('新闻') !== -1) || (text.indexOf('时事') !== -1))
				window.location = "{{ url_for('.hotIssue') }}";
			else if ((text.indexOf('理專') !== -1) || (text.indexOf('專家') !== -1) || (text.indexOf('媒合') !== -1) || (text.indexOf('专家') !== -1))		
				window.location = "{{ url_for('.expertRank') }}";
			else if ((text.indexOf('商品') !== -1) || (text.indexOf('組合') !== -1) || (text.indexOf('投資') !== -1))
				window.location = "{{ url_for('.productRank') }}";
			else if ((text.indexOf('首頁') !== -1) || (text.indexOf('首页') !== -1))
				window.location = "{{ url_for('.mainPage') }}";
		}
    }

    function OnComplete() {
        // startBtn.disabled = false;
        if(click_btn_name == 'recordBtn'){
			recordBtn.disabled = false;
		}
    }
</script>


<div id="copyright" class="container">
	<p>&copy; ND. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
