<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : PlainDisplay 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140309

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>FM 11.2</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />

	
	<!-- <link href="bootstrap.css" rel="stylesheet" type="text/css" media="all" -->
	<link rel="stylesheet" type="text/css"  href={{ url_for('static', filename='stylesheet/bootstrap.css') }}>
	<!-- <link href="bootstrap.css" rel="stylesheet" type="text/css" media="all" -->
	<link rel="stylesheet" type="text/css"  href={{ url_for('static', filename='stylesheet/style.css') }}>


	<!-- <link href="default.css" rel="stylesheet" type="text/css" media="all" />
	<link href="fonts.css" rel="stylesheet" type="text/css" media="all" /> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/default.css') }}" media="all">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/fonts.css') }}" media="all">
	
	<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="{{ url_for('static', filename='js/chartkick.js') }}"></script>

</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="{{ url_for('.mainPage') }}">FM 11.2</a></h1>
		</div>
		<div id="menu">	
			<ul>
				<li class="current_page_item"><a href="{{ url_for('.mainPage') }}" accesskey="1" title="">Homepage</a></li>
				{% if data['isLogin'] %}
				<li><a href="#" accesskey="2" title="">Personnel Status</a></li>
				{% else %}
				<li><a href="{{ url_for('.register', fromUrl='mainPage') }}" accesskey="2" title="">Sign up</a></li>
				{% endif %}
				{% if data['isLogin'] %}
				<li><a href="#" accesskey="3" title="">Investment Item</a></li>
				{% endif %}
				<li><a href="#contact" accesskey="4" title="">About Us</a></li>
				{% if data['isLogin'] %}
				<li><a href="{{ url_for('.logout', fromUrl='mainPage') }}" accesskey="5" title="">Sign out</a></li>
				{% else %}
				<li><a href="{{ url_for('.login', fromUrl='mainPage') }}" accesskey="5" title="">Sign in</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	</div>
	
	<div id="extra" class="container">
		<div class="title">
			<h2>Your recent financial condition</h2>
		</div>
			<!-- Services Section -->
			{% line_chart  {'Chrome': 52.9, 'Opera': 1.6, 'Firefox': 27.7} %}			
	</div>

</div>



<div id="copyright" class="container">
	<p>&copy; ND. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
