<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : PlainDisplay 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140309

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>FM 11.2</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	
	<!-- <link href="bootstrap.css" rel="stylesheet" type="text/css" media="all" -->
	<link rel="stylesheet" type="text/css"  href={{ url_for('static', filename='stylesheet/bootstrap.css') }}>
	<!-- <link href="bootstrap.css" rel="stylesheet" type="text/css" media="all" -->
	<link rel="stylesheet" type="text/css"  href={{ url_for('static', filename='stylesheet/style.css') }}>
	<!-- <link href="default.css" rel="stylesheet" type="text/css" media="all" />
	<link href="fonts.css" rel="stylesheet" type="text/css" media="all" /> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/default.css') }}" media="all">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/fonts.css') }}" media="all">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
	<style>
		th {
			font-size: 35px;
		}
		td {
			font-size: 25px;
		}
	</style>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="{{ url_for('.mainPage') }}">FM 11.2</a></h1>
		</div>
		<div id="menu">	
			<ul>
				<li class="current_page_item"><a href="{{ url_for('.mainPage') }}" accesskey="1" title="">Homepage</a></li>
				{% if data['isLogin'] %}
				<li><a href="{{ url_for('.personalStatus') }}" accesskey="2" title="">Pesonal Status</a></li>
				{% else %}
				<li><a href="{{ url_for('.register', fromUrl='mainPage') }}" accesskey="2" title="">Sign up</a></li>
				{% endif %}
				{% if data['isLogin'] %}
				<li><a href="{{ url_for('.history') }}" accesskey="3" title="">Investment History</a></li>
				{% endif %}
				<li><a href="#about-us" accesskey="4" title="">About Us</a></li>
				{% if data['isLogin'] %}
				<li><a href="{{ url_for('.logout', fromUrl='mainPage') }}" accesskey="5" title="">Sign out</a></li>
				{% else %}
				<li><a href="{{ url_for('.login', fromUrl='mainPage') }}" accesskey="5" title="">Sign in</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	</div>
	
	<div id="extra" class="container" style="border-style: solid; width: 100%;">
		<div class="title">
			<h2>Financial Product Recommendation</h2>
			<span class="byline">Choose the products you like</span> </div>
		<div class="container" style="float: left; width: 45%; margin-left: 5%;">    
		    <button type="button" class="btn btn-primary" onclick="window.location='{{ url_for('.productRank', isRefresh='yes', productDict=products) }}';">Refresh</button>
		    <div class="list-group">
		    {% for key, product in products.iteritems() %}
		    	<div class='list-group-item'>
		        	<div class="form-inline row">
		          <!-- <label class="sr-only" for="inlineFormInput">Name</label> -->
		          <!-- <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Jane Doe"> -->
		          		<div class="col-md-4">
		            		<a href="{{ url_for('.productRank', isRefresh='no', productDict=products, productIdx=key) }}"> {{ product['基金名稱'] }} </a>
		          		</div>
		          		<div class="col-md-3">
		          			<h3> 風險報酬等級 : {{ product['風險報酬等級'] }} </h3>
		          		</div>
		          		<div class="col-md-3">
		          			<h3> 報酬率 : {{ product['報酬率3個月'] }} </h3>
		          		</div>
		          		<div class="form-check col-md-2">
		            		<button type="button" class="btn btn-primary" onclick="window.location='{{ url_for('.productRank', isRefresh='no', productDict=products, listIdx=key) }}';">Like</button>
		          		</div>

		          		<!-- <button type="submit" class="btn btn-primary">Submit</button> -->
		        	</div>
		      	</div>
		    {% endfor %}
		    </div>
		</div>
		<div class="container" style="float: left; width: 45%;">
			{% if data['listIdx'] < 10 %}
				<table class="container" style="width:100%">
				  <tr>
				    <th style="width: 25%; margin-right: 5%;">基金名稱</th>
				    <th>{{ products[data['listIdx']]['基金名稱'] }}</th> 
				  </tr>
				  <tr>
				    <td>基金公司</td>
				    <td>{{ products[data['listIdx']]['基金公司'] }}</td>
				  </tr>
				  <tr>
				    <td>基金類型</td>
				    <td>{{ products[data['listIdx']]['基金類型'] }}</td>
				  </tr>
				  <tr>
				    <td>淨值</td>
				    <td>{{ products[data['listIdx']]['淨值'] }}</td>
				  </tr>
				  <tr>
				    <td>報酬率3個月</td>
				    <td>{{ products[data['listIdx']]['報酬率3個月'] }}</td>
				  </tr>
				  <tr>
				    <td>報酬率6個月</td>
				    <td>{{ products[data['listIdx']]['報酬率6個月'] }}</td>
				  </tr>
				  <tr>
				    <td>報酬率1年</td>
				    <td>{{ products[data['listIdx']]['報酬率1年'] }}</td>
				  </tr>
				  <tr>
				    <td>報酬率3年</td>
				    <td>{{ products[data['listIdx']]['報酬率3年'] }}</td>
				  </tr>
				  <tr>
				    <td>風險標準差</td>
				    <td>{{ products[data['listIdx']]['風險標準差'] }}</td>
				  </tr>
				  <tr>
				    <td>風險beta</td>
				    <td>{{ products[data['listIdx']]['風險beta'] }}</td>
				  </tr>
				  <tr>
				    <td>成立日期</td>
				    <td>{{ products[data['listIdx']]['成立日期'] }}</td>
				  </tr>
				  <tr>
				    <td>基金規模</td>
				    <td>{{ products[data['listIdx']]['基金規模'] }}</td>
				  </tr>
				  <tr>
				    <td>淨值</td>
				    <td>{{ products[data['listIdx']]['淨值'] }}</td>
				  </tr>
				  <tr>
				    <td>成立時規模</td>
				    <td>{{ products[data['listIdx']]['成立時規模'] }}</td>
				  </tr>
				  <tr>
				    <td>風險報酬等級</td>
				    <td>{{ products[data['listIdx']]['風險報酬等級'] }}</td>
				  </tr>
				  <tr>
				    <td>基金統編</td>
				    <td>{{ products[data['listIdx']]['基金統編'] }}</td>
				  </tr>
				  <tr>
				    <td>投資標的</td>
				    <td>{{ products[data['listIdx']]['投資標的'] }}</td>
				  </tr>
				</table>
			{% endif %}
		</div>
	</div>
</div>

<div id="copyright" class="container">
	<p>&copy; ND. All rights reserved.</p>
</div>
</body>
</html>
