<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : PlainDisplay 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140309

-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
		<link href="../static/stylesheet/default.css" rel="stylesheet" type="text/css" media="all" />
		<link href="../static/stylesheet/fonts.css" rel="stylesheet" type="text/css" media="all" />

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css"  href="../static/stylesheet/bootstrap.css">
		<link rel="stylesheet" type="text/css"  href="../static/stylesheet/style.css">

	</head>
		<body><form class="form-horizontal">
			<fieldset>

			<!-- Form Name -->
			<span style="color: #0088A8"><h1>Register</h1></span>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="fn">First name</label>  
				<div class="col-md-4">
				<input id="fn" name="fn" type="text" placeholder="first name" class="form-control input-md" required="">

				</div>
					<div class="col-md-4">
					<button id="sub_FirstName" name="sub_FirstName" class="btn btn-primary">START</button>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="ln">Last name</label>  
				<div class="col-md-4">
				<input id="ln" name="ln" type="text" placeholder="last name" class="form-control input-md" required="">

				</div>
					<div class="col-md-4">
					<button id="sub_LastName" name="sub_LastName" class="btn btn-primary">START</button>
				</div>
			</div>


			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="email">Email</label>  
				<div class="col-md-4">
				<input id="email" name="email" type="text" placeholder="email" class="form-control input-md" required="">

				</div>
				<div class="col-md-4">
					<button id="sub_Email" name="sub_Email" class="btn btn-primary">START</button>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="add1">Account ID</label>  
				<div class="col-md-4">
				<input id="add1" name="add1" type="text" placeholder="ex: 123-456789" class="form-control input-md" required="">

				</div>
					<div class="col-md-4">
					<button id="sub_AccountID" name="sub_AccountID" class="btn btn-primary">START</button>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="ctry">Country</label>  
				<div class="col-md-4">
				<input id="ctry" name="ctry" type="text" placeholder="Country" class="form-control input-md" required="">
				</div>
				<label class="col-md-4 control-label" for="submit"></label>
				<div class="col-md-4">
					<button id="sub_Country" name="sub_Country" class="btn btn-primary">START</button>
				</div>

			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="phone">Phone number</label>  
				<div class="col-md-4">
					<input id="phone" name="phone" type="text" placeholder="Phone#" class="form-control input-md" required="">

				</div>
				<label class="col-md-4 control-label" for="submit"></label>
				<div class="col-md-4">
					<button id="sub_Phnoe" name="sub_Phnoe" class="btn btn-primary">START</button>
				</div>
			</div>

			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="submit"></label>
				<div class="col-md-4">
					<button id="submit" name="submit" class="btn btn-primary">SUBMIT</button>
				</div>
			</div>

			</fieldset>
			</form>

		</body>
</html>
