<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : PlainDisplay 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140309

-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
		<link href="{{ url_for('static', filename='stylesheet/default.css') }}" rel="stylesheet" type="text/css" media="all" />
		<link href="{{ url_for('static', filename='stylesheet/fonts.css') }}" rel="stylesheet" type="text/css" media="all" />

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='stylesheet/bootstrap.css') }}">
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='stylesheet/style.css') }}">

	</head>
		<body><form class="form-horizontal" action="{{ url_for('.register', fromUrl=fromUrl) }}" method="POST">
			<fieldset>

			<!-- Form Name -->
			<span style="color: #0088A8"><h1>Register</h1></span>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="fn">First name</label>  
				<div class="col-md-4">
				<input id="fn" name="fn" type="text" placeholder="first name" class="form-control input-md" required="">

				</div>
					<div class="col-md-4">
					<button id="sub_FirstName" name="sub_FirstName" class="btn btn-primary">StartRecord</button>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="ln">Last name</label>  
				<div class="col-md-4">
				<input id="ln" name="ln" type="text" placeholder="last name" class="form-control input-md" required="">

				</div>
					<div class="col-md-4">
					<button id="sub_LastName" name="sub_LastName" class="btn btn-primary">StartRecord</button>
				</div>
			</div>


			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="email">Email</label>  
				<div class="col-md-4">
				<input id="email" name="email" type="text" placeholder="email" class="form-control input-md" required="">

				</div>
				<div class="col-md-4">
					<button id="sub_Email" name="sub_Email" class="btn btn-primary">StartRecord</button>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="add1">Account ID</label>  
				<div class="col-md-4">
				<input id="add1" name="add1" type="text" placeholder="ex: 123-456789" class="form-control input-md" required="">

				</div>
					<div class="col-md-4">
					<button id="sub_AccountID" name="sub_AccountID" class="btn btn-primary">StartRecord</button>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="ctry">Country</label>  
				<div class="col-md-4">
				<input id="ctry" name="ctry" type="text" placeholder="Country" class="form-control input-md" required="">
				</div>
				<label class="col-md-4 control-label" for="submit"></label>
				<div class="col-md-4">
					<button id="sub_Country" name="sub_Country" class="btn btn-primary">StartRecord</button>
				</div>

			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="phone">Phone number</label>  
				<div class="col-md-4">
					<input id="phone" name="phone" type="text" placeholder="Phone#" class="form-control input-md" required="">

				</div>
				<label class="col-md-4 control-label" for="submit"></label>
				<div class="col-md-4">
					<button id="sub_Phnoe" name="sub_Phnoe" class="btn btn-primary">StartRecord</button>
				</div>
			</div>

			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="submit"></label>
				<div class="col-md-4">
					<button id="submit" name="submit" class="btn btn-primary">SUBMIT</button>
				</div>
			</div>

			</fieldset>
			</form>
			<!-- The SDK has a dependency on requirejs (http://requirejs.org/). -->
		    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
		    <!-- SDK REFERENCE -->
		    <script src="{{ url_for('static', filename='js/speech.browser.sdk.js') }}"></script>

		    <!-- SDK USAGE -->
		    <script>
		        // On doument load resolve the SDK dependecy
		        function Initialize(onComplete) {
		            require(["Speech.Browser.Sdk"], function(SDK) {
		                onComplete(SDK);
		            });
		        }
		        
		        // Setup the recongizer
		        function RecognizerSetup(SDK, recognitionMode, language, format, subscriptionKey) {
		            let recognizerConfig = new SDK.RecognizerConfig(
		                new SDK.SpeechConfig(
		                    new SDK.Context(
		                        new SDK.OS(navigator.userAgent, "Browser", null),
		                        new SDK.Device("SpeechSample", "SpeechSample", "1.0.00000"))),
		                recognitionMode, // SDK.RecognitionMode.Interactive  (Options - Interactive/Conversation/Dictation>)
		                language, // Supported laguages are specific to each recognition mode. Refer to docs.
		                format); // SDK.SpeechResultFormat.Simple (Options - Simple/Detailed)

		            // Alternatively use SDK.CognitiveTokenAuthentication(fetchCallback, fetchOnExpiryCallback) for token auth
		            let authentication = new SDK.CognitiveSubscriptionKeyAuthentication(subscriptionKey);

		            return SDK.CreateRecognizer(recognizerConfig, authentication);
		        }

		        // Start the recognition
		        function RecognizerStart(SDK, recognizer) {
		            recognizer.Recognize((event) => {
		                /*
		                 Alternative syntax for typescript devs.
		                 if (event instanceof SDK.RecognitionTriggeredEvent)
		                */
		                switch (event.Name) {
		                    case "RecognitionTriggeredEvent" :
		                        console.log('Initializing');
		                        break;
		                    case "ListeningStartedEvent" :
		                        console.log('Listening');
		                        break;
		                    case "RecognitionStartedEvent" :
		                        console.log('Listening_Recognizing');
		                        break;
		                    case "SpeechStartDetectedEvent" :
		                        console.log('Listening_DetectedSpeech_Recognizing');
		                        console.log(JSON.stringify(event.Result)); // check console for other information in result
		                        break;
		                    case "SpeechHypothesisEvent" :
		                        UpdateInputValue(event.Result.Text);
		                        console.log(JSON.stringify(event.Result)); // check console for other information in result
		                        break;
		                    case "SpeechEndDetectedEvent" :
		                        // OnSpeechEndDetected();
		                        console.log('Processing_Adding_Final_Touches');
		                        console.log(JSON.stringify(event.Result)); // check console for other information in result
		                        break;
		                    case "SpeechSimplePhraseEvent" :
		                        break;
		                    case "SpeechDetailedPhraseEvent" :
		                        break;
		                    case "RecognitionEndedEvent" :
		                        OnComplete();
		                        console.log('Idle');
		                        console.log(JSON.stringify(event)); // Debug information
		                        break;
		                }
		            })
		            .On(() => {
		                // The request succeeded. Nothing to do here.
		            },
		            (error) => {
		                console.error(error);
		            });
		        }

		        // Stop the Recognition.
		        function RecognizerStop(SDK, recognizer) {
		            // recognizer.AudioSource.Detach(audioNodeId) can be also used here. (audioNodeId is part of ListeningStartedEvent)
		            recognizer.AudioSource.TurnOff();
		        }
		    </script>

		    <!-- Browser Hooks -->
		   	<script>
		        let startBtn;
		        let firstNameBtn, lastNameBtn, emailBtn, accountIdBtn, countryBtn, phoneNumBtn;
		        let click_btn_name;
		        let key, languageOptions, formatOptions;
		        let SDK;
		        let recognizer;
		        let previousSubscriptionKey;

		        document.addEventListener("DOMContentLoaded", function () {
		            key = '63070e40686842699849c4154247acaf';
		            languageOptions = 'en-US';
		            formatOptions = 'Simple';

		            // startBtn = document.getElementById("startBtn");
		            firstNameBtn = document.getElementById('sub_FirstName');
		            firstNameInput = document.getElementById('fn');

		            lastNameBtn = document.getElementById('sub_LastName');
		            lastNameInput = document.getElementById('ln');

		            emailBtn = document.getElementById('sub_Email');
		            emailInput = document.getElementById('email');

		            accountIdBtn = document.getElementById('sub_AccountID');
		            accountIdInput = document.getElementById('add1');

		            countryBtn = document.getElementById('sub_Country');
		            countryInput = document.getElementById('ctry');

		            phoneNumBtn = document.getElementById('sub_Phnoe');
		            phoneNumInput = document.getElementById('phone');

		        	firstNameBtn.addEventListener("click", function () {
		                if (!recognizer || previousSubscriptionKey != key) {
		                    previousSubscriptionKey = key;
		                    Setup();
		                }
		                click_btn_name = 'firstNameBtn';
		                RecognizerStart(SDK, recognizer);
		                firstNameBtn.disabled = true;
		            });

		            lastNameBtn.addEventListener("click", function () {
		                if (!recognizer || previousSubscriptionKey != key) {
		                    previousSubscriptionKey = key;
		                    Setup();
		                }
		                click_btn_name = 'lastNameBtn';
		                RecognizerStart(SDK, recognizer);
		                lastNameBtn.disabled = true;
		            });

		            emailBtn.addEventListener("click", function () {
		                if (!recognizer || previousSubscriptionKey != key) {
		                    previousSubscriptionKey = key;
		                    Setup();
		                }
		                click_btn_name = 'emailBtn';
		                RecognizerStart(SDK, recognizer);
		                emailBtn.disabled = true;
		            });

		            accountIdBtn.addEventListener("click", function () {
		                if (!recognizer || previousSubscriptionKey != key) {
		                    previousSubscriptionKey = key;
		                    Setup();
		                }
		                click_btn_name = 'accountIdBtn';
		                RecognizerStart(SDK, recognizer);
		                accountIdBtn.disabled = true;
		            });

		            countryBtn.addEventListener("click", function () {
		                if (!recognizer || previousSubscriptionKey != key) {
		                    previousSubscriptionKey = key;
		                    Setup();
		                }
		                click_btn_name = 'countryBtn';
		                RecognizerStart(SDK, recognizer);
		                countryBtn.disabled = true;
		            });

		            phoneNumBtn.addEventListener("click", function () {
		                if (!recognizer || previousSubscriptionKey != key) {
		                    previousSubscriptionKey = key;
		                    Setup();
		                }
		                click_btn_name = 'phoneNumBtn';
		                RecognizerStart(SDK, recognizer);
		                phoneNumBtn.disabled = true;
		            });


		            Initialize(function (speechSdk) {
		                SDK = speechSdk;
		                // startBtn.disabled = false;
		                firstNameBtn.disabled = false;
		                lastNameBtn.disabled = false;
		                emailBtn.disabled = false;
		                accountIdBtn.disabled = false;
		                countryBtn.disabled = false;
		                phoneNumBtn.disabled = false;
		            });
		        });

		        function Setup() {
		            recognizer = RecognizerSetup(SDK, SDK.RecognitionMode.Interactive, languageOptions, SDK.SpeechResultFormat[formatOptions], key);
		        }
		        function UpdateInputValue(text){
		        	if(click_btn_name == 'firstNameBtn'){
						firstNameInput.value = text;

					}else if(click_btn_name == 'lastNameBtn'){
						lastNameInput.value = text;

					}else if(click_btn_name == 'emailBtn'){
						emailInput.value = text;

					}else if(click_btn_name == 'accountIdBtn'){
						accountIdInput.value = text;

					}else if(click_btn_name == 'countryBtn'){
						countryInput.value = text;

					}else if(click_btn_name == 'phoneNumBtn'){
						phoneNumInput.value = text;

					}
		        }

		        function OnComplete() {
		            // startBtn.disabled = false;
		            if(click_btn_name == 'firstNameBtn'){
						firstNameBtn.disabled = false;

					}else if(click_btn_name == 'lastNameBtn'){
						lastNameBtn.disabled = false;

					}else if(click_btn_name == 'emailBtn'){
						emailBtn.disabled = false;

					}else if(click_btn_name == 'accountIdBtn'){
						accountIdBtn.disabled = false;

					}else if(click_btn_name == 'countryBtn'){
						countryBtn.disabled = false;

					}else if(click_btn_name == 'phoneNumBtn'){
						phoneNumBtn.disabled = false;
						
					}
		        }
		    </script>
		</body>
</html>
